@model Mirror_Play.video

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.post_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
