<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Images/icon.png")" />
    <title>@ViewBag.Title | Elevate Your Pitch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="frontend">
    <nav class="navbar navbar-light navbar-expand-md bg-white justify-content-center py-4">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand mr-0">
                <img style="max-height: 75px; height: 40px; width: auto;" src="~/Images/Longhand.png" />
            </a>
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle full-width-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Videos
                        </a>
                        <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
                            <div class="container">
                                <a class="dropdown-item" href="#">All</a>
                                <a class="dropdown-item" href="#">By Category</a>
                                <a class="dropdown-item" href="#">By Popularity</a>
                                <a class="dropdown-item" href="#">Featured</a>
                                <div>
                                </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Advertising</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">About</a>
                            <a class="dropdown-item" href="#">Ad Choices</a>
                            <a class="dropdown-item" href="#">Advertisers</a>
                            <a class="dropdown-item" href="#">User Guidelines</a>
                            <a class="dropdown-item" href="#">Cookie Policy</a>
                            <a class="dropdown-item" href="#">Developers</a>
                            <a class="dropdown-item" href="#">Jobs</a>
                            <a class="dropdown-item" href="#">Security</a>
                            <a class="dropdown-item" href="#">Privacy Policy</a>
                            <a class="dropdown-item" href="#">Terms</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">What is premium</a>
                            <a class="dropdown-item" href="#">How to remove your account</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
                    <li class="nav-item"><a class="nav-link" href="">Account</a></li>
                    <li class="nav-item"><a class="nav-link menu-btn btn btn-primary">View The Demo</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container-fluid container-full-width pt5 background-primary">
        <div class="row">
            <div class="col-md-6">
                <img class="img-regular" src="~/Images/Longhand Whitescale.svg" />
            </div>
            <div class="col-md-2 color-white">
                <h3>Services &amp; Tools</h3>
                <ul class="list-unstyled">
                    <li><a href="">Getting Featured</a></li>
                    <li><a href="">Uploading</a></li>
                    <li><a href="">Editing</a></li>
                    <li><a href="">Sharing</a></li>
                </ul>
            </div>
            <div class="col-md-2 color-white">
                <h3>Resources</h3>
                <ul class="list-unstyled">
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Demos</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Tutorials</a></li>
                </ul>
            </div>
            <div class="col-md-2 color-white">
                <h3>Our Company</h3>
                <ul class="list-unstyled">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Reach Us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Brand Assets</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid container-full-width background-gray color-white pt1">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 text-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">&copy; @DateTime.Now.Year Mirror Play</li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/091fe72160bfee34a08119a2c/b993fcf7a5a8d2b784c7869e3.js");</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
